html {
	  margin:0px 0px 0px 0px;
	  padding:0px 0px 0px 0px;
	  height:100vh;
	  overflow:hidden;
}
body {
	  margin:0px 0px 0px 0px;
	  width:100%;
	  height:100%;
	  background-blend-mode: multiply;
	  background:url(../pic/fon.jpg) no-repeat;
	  background-size:100% 100%;

	  
}

#main {
	   width:100%;
	   height:100%;
	   background:linear-gradient(180deg,rgba(0,0,0,0.5) 0%,rgba(255,255,255,0) 45%, rgba(255,255,255,0) 55%, rgba(0,0,0,0.5) 100%);
	   display:-ms-flex;
	   display:flex;
	   justify-content:space-evenly;
	   justify-content:space-evenly;
	   align-items:center;
	   align-items:center;
	   align-content:center;
	   align-content:center;
	   flex-wrap:wrap;
	   flex-wrap:wrap;
       
}

#main>h1 {
		  margin:-3% 0px 3% 0px;
	      color:white;
		  width:100%;
		  text-align:center;
		  font-size:36px;
		  font-family:ExoThin;
		  font-weight:normal;
		  opacity:0.75;
		  
		  
}



#kat1 {
	   
}


#kat2 {
}



#kat3 {
}






.kat {
	  width:320px;
	  height:480px;
	  position:relative;
	  display:flex;
	  justify-content:flex-end;
	  align-items:flex-start;
	  align-content:flex-start;
	  flex-wrap:wrap;
}

.katposition {
	          position:absolute;
			  left:4px;
			  bottom:4px;
			  z-index:10;
}

.svgborder {
	           margin:0px 0px 0px 0px;
	           width:320px;
			   height:480px;
			   position:absolute;
			   left:0px;
			   top:0px;
			   z-index:1;
}


.svgborderskip {
	           margin:0px 0px 0px 0px;
	           width:320px;
			   height:480px;
			   position:absolute;
			   left:0px;
			   top:0px;
			   z-index:0;
			  
}


.seap {
	   z-index:10;
	   width:100%;
	   font-family:Trebuchet MS;
	   color:rgb(147,147,147);
	   width:85%;
	   text-align:left;
	   margin:6% 0px 0px 0px;
}

.h1nyam {
	    z-index:10;
        margin:2% 0px 0px 0px;
        width:86%;
		font-size:48px;
		font-family:Trebuchet MS;
		font-weight:bold;
		text-align:left;
}

.h2nyam {
	    z-index:10;
        margin:0px 0px 0px 0px;
        text-align:left;
		width:85%;
		font-family:Trebuchet MS;
		font-size:24px;
		font-weight:bold;
		
}

.about {
	    width:85%;
		text-align:left;
		z-index:10;
	    color:rgb(147,147,147);
		margin:4% 0px 0px 0px;
}

.catweight  {
	         width:80px;
			 height:80px;
			 z-index:10;
			 border-radius:40px;
			 position:absolute;
			 bottom:15px;
			 right:15px;
			 display:flex;
			 justify-content:center;
			 align-items:center;
	
}

.catweight p  {
                margin:15% 0px 0px 0px;	
				text-align:center;
				color:white;
				font-family:Trebuchet MS;
				font-size:42px;
				line-height:30px;
				display:flex;
				justify-content:center;
				align-items:flex-end;
				flex-wrap:wrap;
}

#catweight1 {
	         background-color:rgb(22,152,217);
}

#catweight2 {
	         background-color:rgb(22,152,217);
}

#catweight3 {
	         background-color:rgb(22,152,217);
}



.catweight>p span  {
	            width:100%;
				color:white;
				font-family:Trebuchet MS;
				font-size:20px;
}



.aboutfooter1 {
	          position:absolute;
	          z-index:10;
			  font-family:Trebuchet MS;
			  font-size:13px;
			  color:white;
			  text-align:center;
			  width:100%;
			  bottom:-30px;
			  margin:0px 0px 0px 0px;
}

.aboutfooter1 a {
	             color:rgb(22,152,217);
				 border-bottom:1px dashed;
				 text-decoration:none;
}

.dotsblue {
	             color:rgb(22,152,217);
}


.aboutfooter2 {
	          position:absolute;
	          z-index:10;
			  font-family:Trebuchet MS;
			  font-size:13px;
			  color:white;
			  text-align:center;
			  width:100%;
			  bottom:-30px;
			  margin:0px 0px 0px 0px;
			  display:none;
}


.aboutfooter3 {
	          position:absolute;
	          z-index:10;
			  font-family:Trebuchet MS;
			  font-size:13px;
			  color:rgba(255,255,102);
			  text-align:center;
			  width:100%;
			  bottom:-30px;
			  margin:0px 0px 0px 0px;
			  display:none;
} 















@font-face {
	font-family: ExoThin;
	src: url("../font/ExoThin.otf");
}
